<section class="games">
  <div class="games-inner">
    <div class="games-inner__row">
      <div class="games-inner__col">
        <h2 class="games__title">Sort by:</h2>
        <app-sort-list
          (sortBy)="selectSorted($event)"
        ></app-sort-list>
      </div>
      <div class="games-inner__col">
        <h2 class="games__title">Games on page:</h2>
        <app-controls-bar
          (quntityOnPage)="setQuntityOnPage($event)"
        ></app-controls-bar>
      </div>
    </div>
  </div>
  <div class="games-container">
    <h2 class="games__title">Search:</h2>
    <input
      type="text"
      class="games__search"
      placeholder="Search game"
      [(ngModel)]="searchString"
    >
  </div>
  <div
    *ngIf="favouritesGames.length;"
    class="games-container">
    <h2>Favourites</h2>
    <div
      class="games__row">
      <div
        *ngFor="let game of favouritesGames;"
        class="games__col">
        <app-game-card
          [game]="game"
          (switchFavourites)="toggleFavourites($event)"
        ></app-game-card>
      </div>
    </div>
  </div>
  <div
    *ngIf="games.length;"
    class="games-container">
    <h2>All
      <span *ngIf="!searchString.length">{{games.length}} of {{allGames.length}}</span>
    </h2>
    <div
      class="games__row">
      <div
        *ngFor="let game of games | searchGames: searchString: perPage: page;"
        class="games__col">
        <app-game-card
          [game]="game"
          (switchFavourites)="toggleFavourites($event)"
          (switchPriority)="togglePriority($event)"
        ></app-game-card>
      </div>
    </div>
    <div
      class="button-wrap">
    <span class="button"
          (click)="loadMoreGames()">Show more</span>
    </div>
  </div>
</section>
