.games {
  padding: 2rem 0;

  &-container {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__col {
    width: 25%;
    min-height: 247px;
    padding: 0 10px;
    margin: 10px 0;
  }

  .button-wrap {
    text-align: center;
    margin-top: 30px;
  }

  &__btn {
    display: inline-block;
    max-width: 290px;
    padding: 5px 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: background .2s linear, border-color .2s linear;

    &:hover {
      border-color: #5daf36;
      background: #5daf36;
    }
  }
}
