<section class="games">
  <div class="games-inner">
    <div class="games-inner__row">
      <div class="games-inner__col">
        <h2 class="games__title">Select the number of games displayed on the screen</h2>
        <ul class="sort-list">
          <li class="sort-list__item"
              (click)="defaultSort()"
          >Default
          </li>
          <li class="sort-list__item"
              (click)="sortByName()">By name
          </li>
          <li class="sort-list__item"
              (click)="sortByNameReverse()"
          >By name reverce
          </li>
        </ul>
      </div>
      <div class="games-inner__col">
        <h2 class="games__title">Select the number of games displayed on the screen</h2>
        <app-controls-bar
          (quntityOnPage)="setQuntityOnPage($event)"
        ></app-controls-bar>
      </div>
    </div>
  </div>
  <div
    *ngIf="favouritesGames.length;"
    class="games-container">
    <h2>Favourites</h2>
    <div
      class="games__row">
      <div
        *ngFor="let game of favouritesGames;"
        class="games__col">
        <app-game-card
          [game]="game"
          (onToggleFavourites)="toggleFavourites($event)"
        ></app-game-card>
      </div>
    </div>
  </div>
  <div
    *ngIf="games.length;"
    class="games-container">
    <h2>All</h2>
    <div
      class="games__row">
      <div
        *ngFor="let game of games;"
        class="games__col">
        <app-game-card
          [game]="game"
          (onToggleFavourites)="toggleFavourites($event)"
        ></app-game-card>
      </div>
    </div>
    <div class="button-wrap">
    <span class="games__btn"
          (click)="loadMoreGames()">Show more</span>
    </div>
  </div>
</section>
