.games {
  padding: 2rem 0;

  &-container {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-inner {

    &__row {
      display: flex;

    }

    &__col {
      flex: 1 1 100%;
    }
  }


  &__title {
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__col {
    width: 25%;
    min-height: 247px;
    padding: 0 10px;
    margin: 10px 0;
  }

  .button-wrap {
    text-align: center;
    margin-top: 30px;
  }

  &__search {
    height: 40px;
    width: 100%;
    border-radius: 50px;
    padding: 5px 15px;
    &:focus {
      box-shadow: 0 0 15px #196deb;
    }
  }
}
