<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__col">
        <span
          routerLink="/"
          class="logo">
          <img src="assets/images/logo.svg" alt="">
        </span>
      </div>
      <div
        *ngIf="getFilteredGemesCount() && getFilteredGemesCount()"
        class="header__col">
        Games: {{getFilteredGemesCount()}}/{{getAllGemesCount()}}
      </div>
      <div class="header__col"></div>
    </div>
  </div>
</header>
