<div class="game-card">
  <div class="game-card-img__container">
    <img
      [src]="game.ImageFullPath"
      alt=""
      class="game-card__img">
  </div>
  <div class="game-card__info">
    <p class="game-card__title">{{game.Name.en}}</p>
    <a
      [routerLink]="['view', game.MerchantID, game.LaunchCode]"
      target="_blank"
      class="game-card__btn">Show</a>
    <span
      [ngClass]="{
      'favourites': game.favourites
      }"
      class="game-card__favourites"
      (click)="toggleFavourites(game)"
    >❤</span>
<!--    <span-->
    <!--      [ngClass]="{-->
    <!--      'priority': game.priority-->
    <!--      }"-->
    <!--      class="game-card__priority"-->
    <!--      (click)="togglePriority(game)"-->
    <!--    >!</span>-->
  </div>
</div>
