.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;

  &-img__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 0;
  }

  img {
    width: auto;
    height: auto;
    object-fit: cover;
  }

  &__priority {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
    font-size: 20px;
    color: #5daf36;
    padding: 2px 5px;
    background: rgba(#000, .7);
  }

  &__info {
    opacity: 1;
    position: relative;
    transition: opacity .2s linear;
    z-index: 2;
    margin-top: auto;
    background: rgba(#000, .8);
    padding: 5px 35px 5px 5px;
  }

  &__title {
    font-size: 18px;
    color: white;
  }

  &__btn {
    display: inline-block;
    font-size: 18px;
    color: #196deb;
    text-decoration: none;
  }

  &__favourites {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    right: 5px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: color .2s linear;
    text-decoration: none;

    &.favourites,
    &:hover {
      color: indianred;
    }
  }
}
